<p-toolbar>
  <div class="ui-toolbar-group-left">
    <div>
      <span style="font-size: 2vw;"><button pButton type="button" icon="pi pi-bars" class="ui-button-success" (click)="sidebar()"></button>&nbsp;<span>{{musicaSrv.musicaAtual}}</span></span>
    </div>
  </div>
  <div class="ui-toolbar-group-right">
    <button pButton type="button" label="Inicio" class="ui-button-danger" (click)="musicaSrv.begin()" style="margin-right: 10px;"></button>
    <button pButton type="button" label="Voltar" class="ui-button-primary" (click)="previous()" style="margin-right: 10px;"></button>
    <button pButton type="button" label="Próxima" class="ui-button-success" (click)="next()"></button>

  </div>
</p-toolbar>
<p-sidebar [(visible)]="display" styleClass="ui-sidebar-lg">
  <div style="margin-left: 0; margin-right: 0;">
    <h2>Selecione as músicas que deseja tocar</h2>
  </div>
  <p-pickList [source]="musicaSrv.listaArquivos" [target]="selectedMusic" sourceHeader="Músicas disponíveis"
    targetHeader="Selecionadas" [responsive]="true" filterBy="arquivo" dragdrop="true" dragdropScope="musicasPick"
    sourceFilterPlaceholder="Procurar música" targetFilterPlaceholder="Pesquisar" [sourceStyle]="{'height':'300px'}"
    [targetStyle]="{'height':'300px'}">
    <ng-template let-musica pTemplate="item">
      <div class="ui-helper-clearfix">
        <div class="selecaoMusica" style="font-size:16px;float:left;margin:15px 5px 0 0">{{musica.titulo}}</div>
      </div>
    </ng-template>
  </p-pickList>
  <div>
    <button pButton type="button" label="Encerrar Seleção de Músicas" class="ui-button-danger" (click)="fechar()" style="margin-top: 10px;"></button>
  </div>
</p-sidebar>